@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: var(--font-funnel-sans);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-workbench);
	letter-spacing: 2px;
}

body {
	@apply bg-white dark:bg-slate-900 text-black dark:text-white;
}