---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---
<main class="container max-w-7xl mx-auto p-4 ">
	<article class="w-full">
		<div class="hero-image">
			{heroImage && <img class="w-full aspect-square object-cover rounded object-top-left" width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="
			flex flex-col max-w-full
			prose prose-headings:text-black prose-headings:dark:text-white
			prose-p:text-black prose-p:dark:text-white prose-p:text-lg
			prose-a:text-black prose-a:dark:text-white prose-a:text-lg prose-a:underline
			prose-code:text-black prose-code:dark:text-white
			prose-li:text-black prose-li:dark:text-white
		">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1 class="text-black dark:text-white">{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</main>
